<h1>Question edit</h1>
<link href="{{ asset('bundles/devlabpoll/css/base.css') }}" type="text/css" rel="stylesheet" />
<script src="{{ asset('bundles/devlabpoll/js/base.js') }}"></script>
<form action="{{ path('question_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
            <div id="tempdiv"><div>
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('question') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('question_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
    <li><a href="javascript:void(0);" onclick="javascript:addAnItem('tempdiv','devlab_pollbundle_questiontype_reponses')">Add</a></li>
</ul>
