{% extends '::base.html.twig' %}
{% block body %}
<link href="{{ asset('bundles/devlabpoll/css/base.css') }}" type="text/css" rel="stylesheet" />

<h1>Question</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Text</th>
            <td>{{ entity.text }}</td>
        </tr>
        <tr><td colspan="2">
                Réponses
            </td></tr>
        <tr><td colspan="2">
                <ol class="record_actions">
                    {% for reponse in entity.getReponses %}
                    <li>   {{ reponse.text }} </li>
                    {% else %}
                    <li>Il n'y a aucune réponse disponible</li>
                    {% endfor %}
                </ol>
            </td></tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('question') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('question_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('question_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}
{% block right %}
Au moment de créer un service dans la classe du service il faut avoir le namespace (emplacement de la classe) sinon le message:
<p>
The file was found but the class was not in it, the class name or namespace probably has a typo.
</p>
va apparaitre
<h3>Voici la liste des permutations possible : (En ordre)</h3>
<ol>
    {% for perm in permut %}
    <li>    {{ perm[0] }} et {{ perm[1] }}</li>
    {% endfor %}
</ol>
<h3>Voici la liste des permutations possible : (Mélanger)</h3>
<ol>
    {% for perm in permutMixed %}
    <li>    {{ perm[0] }} et {{ perm[1] }}</li>
    {% endfor %}
</ol>
{% endblock %}